@import '../font/stylesheet'

:root
    --color-m: #111111
    --color-s: #0ad080
    --color-xs: #009b5c
    --color-t: #8ce9c3
    --color-g: #07e48b
    --color-d: #00ce7b
    --color-e: #00b36a
    --color-l: #4e4e4e
    --color-b: #18bbfc
    --color-h: #4acbff
    --color-a: #00aff5
    --color-f: #5f5f5f
    --color-i: #c5c5c5
    --color-q: #DDDDDD
    --color-bg-m: #ffffff
    --color-bg-s: #f7fcff
    --color-bg-i: #f9f9f9

    --font-h: 42px
    --font-hs: 50px
    --font-l: 30px
    --font-n: 34px
    --font-ls: 32px
    --font-ns: 30px
    --font-g: 28px
    --font-t: 26px
    --font-m: 24px
    --font-ms: 22px
    --font-s: 20px
    --font-a: 19px
    --font-xs: 18px
    --font-xxs: 16px
    --font-xxxs: 15px
    --font-z: 14px
    --font-d: 12px
    --font-w: 11px

body
    font-family: 'Inter'
    font-weight: 400
    background-color: var(--color-bg-m)
    color: var(--color-m)
    font-size: var(--font-s)
    

.lock
    overflow-y: hidden
    z-index: 11

.container
    max-width: 1192px

.button
    font-size: var(--font-m)
    line-height: 29px
    padding: 23px 32px
    background: var(--color-b)
    border-radius: 20px
    text-decoration: none
    color: var(--color-bg-m)

    &:visited
        color: var(--color-bg-m)

    &:hover
        text-decoration: none
        background: var(--color-h)
        color: var(--color-bg-m)

    &:active
        background: var(--color-a)

.button-discount
    width: 92%
    text-align: center

.input
    background: var(--color-bg-i)
    border: 1px solid #F4F4F4
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06)
    border-radius: 10px
    padding: 27px 19px
    margin-bottom: 18px

    &::placeholder
        font-size: var(--font-a)
        line-height: 23px
        color: #CECECE

    &:focus-visible
        outline: var(--color-s) auto 1px

.header
    position: sticky
    top: 0
    left: 0
    background: var(--color-bg-m)
    z-index: 100

    .main
        position: relative
        padding: 29px 30px 12px 30px

    .logo
        width: 50px
        height: 54px

    .columns
        align-items: center

    .middle
        display: none

    .list
        list-style-type: none
        display: flex
        justify-content: space-between
        align-items: center

        li 
            margin: 0
    
    .link
        color: var(--font-xs)
        line-height: 22px
        text-decoration: none

        &:hover
            color: var(--color-s)
            text-decoration: none

        &:active
            color: var(--color-xs)
            text-decoration: none

    .info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .phone
        font-weight: 500
        font-size: var(--font-s)
        line-height: 24px
        color: var(--color-m)

    .time
        font-size: var(--font-xxs)
        line-height: 19px
        color: var(--color-l)
        margin: 0
        padding-top: 6px

    .burger
        display: none

    .cross
        display: none

.defolt
    background-image: url('../images/main.png')
    background-repeat: no-repeat
    background-position: right

.type 
    background-image: url('../images/type.png')
    background-repeat: no-repeat
    background-position: right
    background-size: auto 563px

.brand
    background-image: url('../images/brand.png')
    background-repeat: no-repeat
    background-position: right
    background-size: auto 563px

.display
    height: 667px
    background-color: var(--color-bg-s)

    .main
        padding: 54px 30px 159px 30px

    .title
        font-weight: 500
        font-size: var(--font-h)
        line-height: 51px
        margin: 0

    .subtitle
        font-size: var(--font-ns)
        line-height: 36px
        padding: 36px 0
        margin: 0

    .image
        display: none

    .imgType
        display: none

    .info
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        margin-left: 8px

    .block
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 0 0 33px 0

    .round
        width: 38px
        height: 37px

    .text
        margin: 0
        font-size: var(--font-s)
        line-height: 24px
        padding-left: 18px

    .learn
        padding-top: 29px

.we
    .main
        padding: 120px 30px 6px 30px

    .title
        font-size: var(--font-l)
        line-height: 44px
        text-align: center
        margin: 0 auto

    .block
        padding-top: 50px

    .card
        position: relative
        background: var(--color-bg-s)
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06)
        border-radius: 20px
        border: none
        padding: 61px 14px 29px 14px
        height: 255px
        margin: 23px

    .number
        position: absolute
        left: calc( 50% - 31px )
        top: -31px
        width: 62px
        height: 62px
        border-radius: 50%
        background: var(--color-s)
        font-weight: 500
        font-size: var(--font-n)
        line-height: 41px
        display: flex
        justify-content: center
        align-items: center
        color: var(--color-bg-m)
        margin: 0

    .heading
        font-weight: 500
        font-size: var(--font-ms)
        line-height: 27px
        text-align: center
        margin: 0

    .text
        font-size: var(--font-s)
        line-height: 24px
        text-align: center
        padding-top: 10px

.price
    .color
        background: var(--color-bg-s)
        padding-bottom: 120px

    .title
        font-size: var(--font-l)
        line-height: 44px
        text-align: center
        margin: 0 auto

    .block
        position: relative
        margin: 60px 0 38px 0
        border-radius: 50px
        overflow: hidden
        

    .card
        padding: 46px 26px 18px 26px
        background: var(--color-bg-m)
        border: none
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        margin-bottom: 16px
        text-decoration: none

        &:hover
            background: var(--color-s)

        &:hover .text
            color: var(--color-bg-m)

    .margin
        margin-bottom: 0
            

    .signature
        padding: 46px 12px 284px 12px

        &:hover .new
            text-align: left
            color: var(--color-bg-m)


    .heading
        font-size: var(--font-ms)
        line-height: 27px
        text-align: center
        margin: 0
        color: var(--color-m)

    .text
        padding: 33px 0
        font-weight: 400
        font-size: var(--font-m)
        line-height: 29px
        color: var(--color-s)
        text-align: center
        margin: 0

    .technic
        width: 207px
        max-width: 100%
        height: 199px
        max-height: 100%
        display: flex
        justify-content: center
        align-items: center

    .img
        width: 100%
        height: 100%
        object-fit: contain

    .new
        color: var(--color-t)
        font-size: var(--font-ms)
        line-height: 27px
        text-align: center
        margin: 0

    .table
        display: none
        position: absolute
        top: 0
        left: 0
        background: rgba(249, 249, 249, 0.9)
        backdrop-filter: blur(5px)
        border-radius: 50px
        padding: 22px 98px 22px 32px 
        width: 40vw

    .notable
        display: block

    .box 
        position: relative

    .description
        display: flex
        justify-content: space-between
        align-items: center

    .specification
        font-weight: 500
        font-size: var(--font-ms)
        line-height: 27px
        margin: 0

    .scroll 
        overflow-y: auto
        height: 80vh

    .green
        width: 100%
        border-bottom: 1px solid var(--color-s)
        color: var(--color-s)
        text-decoration: none
        margin: 0

        .padding
            padding: 0

        &:hover
            color: var(--color-s)
            border-bottom: 1px solid var(--color-s)

    .rate
        width: 100%
        border-bottom: 1px solid var(--color-q)
        color: var(--color-m)
        text-decoration: none
        margin: 0
        display: flex
        justify-content: space-between
        align-items: center

        .padding
            padding: 0

        &:hover
            color: var(--color-s)
            border-bottom: 1px solid var(--color-s)

    .appellation
        margin: 0
        padding: 15px 0

    .worth
        margin: 0
        text-align: right
        padding: 15px 0

        .bold
            font-weight: bold

    .else
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    .checklist
        width: 100%
        display: none

    .visible
        display: flex

    .watchlist
        list-style-type: none
        margin-bottom: 29px

        &:last-child
            margin-bottom: 0

    .watchlink 
        color: var(--color-g)
        font-size: var(--font-ms)
        line-height: 29px
        

        &:hover
            text-decoration: none
            color: var(--color-d)

    .more
        text-decoration: none
        color: var(--color-g)
        font-size: var(--font-m)
        line-height: 29px

        &:hover
            color: var(--color-d)

        &:active
            color: var(--color-e)

        &:focus
            box-shadow: none

.discount
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06)

    .repair
        width: 100%
        height: 536px
    
    .img
        width: 100%
        height: 100%
        object-fit: cover

    .main
        padding: 37px 100px 19px 112px
        display: flex
        justify-content: start
        flex-direction: column
        width: 530px
    
    .block
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        width: 530px

    .title
        font-size: var(--font-ns)
        line-height: 36px
        margin: 0

        .color
            color: var(--color-s)
    
    .subtitle
        padding-top: 20px
        font-size: var(--font-ms)
        line-height: 27px
        text-align: center
        margin: 0
        width: 408px

    .image
        display: none

    .form
        width: 343px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 19px 0 14px 0

    .text
        width: 401px
        font-size: var(--font-xxxs)
        line-height: 18px
        text-align: center
        margin: 0

        .link
            color: var(--color-s)
            text-decoration: underline

            &:hover
                text-decoration: none

.map
    position: relative
    width: 100%
    height: 626px
    padding-top: 120px

    .img
        width: 100%
        height: 100%
        object-fit: cover

    .block
        position: absolute
        bottom: 42px
        right: 20%
        background: var(--color-bg-m)
        box-shadow: 0px 3px 24px 12px rgba(0, 0, 0, 0.02)
        border-radius: 40px
        padding: 68px 42px 58px 64px
        max-width: 377px

    .box
        padding-bottom: 16px
    
    .text
        font-weight: 500
        font-size: var(--font-s)
        line-height: 24px
        color: var(--color-s)
        margin: 0
    
    .info
        font-size: var(--font-xs)
        line-height: 22px
        color: var(--color-m)
        padding-top: 10px
        margin: 0

        &:hover
            text-decoration: none

.footer
    background: var(--color-m)

    .main
        padding: 78px 30px
        text-align: center

    .text
        line-height: 24px
        color: var(--color-f)
        margin: 0
        

    .politic
        padding-top: 40px
        width: 512px
        margin: 0 auto

    .link
        line-height: 24px
        color: var(--color-i)
        margin: 0 auto
        text-align: center

        &:hover
            text-decoration: none

.popup 
    display: none
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    visibility: visible
    background: #00000060
    opacity: 1
    z-index: 100

    .svg
        stroke: var(--color-bg-m)

    .dialog 
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        background: var(--color-bg-m)
        padding: 35px 45px
        border-radius: 20px
        width: 90vw
        height: 90vh

    .thanks 
        width: 687px
        height: 432px
        align-items: center
        justify-content: center
        padding: 66px 144px

    .round
        padding-bottom: 36px

    .top 
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        width: 100%

    .bottom 
        flex-grow: 1
        overflow: auto

    .heading
        font-weight: 500
        font-size: var(--font-l)
        line-height: 44px
        text-align: center

    .text
        font-size: var(--font-ns)
        line-height: 36px
        text-align: center
        padding-top: 22px

    .cross 
        position: absolute
        top: 0
        right: -40px
        width: 24px
        height: 24px

    .bottom 
        width: 100%

    .title 
        font-weight: 600
        font-size: var(--font-xxs)

    .subtitle 
        font-size: var(--font-z)

@media screen and (max-width: 1300px) 
    .discount
        .main
            padding: 37px 100px 19px 10px

@media screen and (max-width: 1280px) 
    .display
        .block
            background-color: #ffffff60


@media screen and (max-width: 1156px)
    .type 
        background-size: auto 446px

    .brand
        background-size: auto 446px

    .price
        .card
            height: 430px

    .discount
        .block
            width: 500px

@media screen and (max-width: 1024px) 
    .container
        max-width: 958px

    .header
        .main
            padding: 26px 18px 29px 31px

        .link
            font-size: var(--font-xs)
            line-height: 22px

    .defolt
        background-image: url('../images/main-s.png')
        background-position: right bottom

    .display
        background-position: right top

        .main
            padding: 27px 30px 142px 30px

        .subtitle
            font-size: var(--font-ls)
            line-height: 39px

        .learn
            padding-top: 70px

    .we
        .main
            padding: 120px 30px 6px 30px

        .block
            padding-top: 30px

        .card
            padding: 61px 0 17px 0
            height: 234px
            margin: 23px 0

        .number
            font-size: var(--font-ns)
            line-height: 36px

        .heading
            font-size: var(--font-ms)
            line-height: 27px

        .text
            padding-top: 6px

    .price
        .color
            padding-bottom: 120px

        .main
            margin: 0 50px

        .card
            margin-bottom: 8px

        .block
            margin: 30px 0 0 0
            border-radius: 40px

        .margin-1
            margin-bottom: 8px !important

        .signature
            padding: 162px 34px 162px 35px

            &:hover
                padding: 46px 49px 278px 20px
                background: var(--color-bg-m)

        .text
            padding: 30px 0 33px 0

        .new
            font-size: var(--font-m)
            line-height: 29px

        .else
            padding-top: 40px

    .discount
        .repair
            width: 100%
            height: 622px
        
        .img
            width: 100%
            height: 100%
            object-fit: cover

        .main
            padding: 39px 30px 25px 30px
            width: auto

        .block
            width: auto

        .title
            font-size: var(--font-ns)
            line-height: 36px
            text-align: center
        
        .subtitle
            padding-top: 23px
            font-size: var(--font-s)
            line-height: 24px

    .map
        .block
            right: 6%

    .footer
        .text
            line-height: 18px
            font-size: var(--font-xxxs)

@media screen and (max-width: 953px) 
    .discount
        .main
            padding: 20px 50px


@media screen and (max-width: 878px) 
    .display
        .main
            padding: 27px 30px 80px 30px

@media screen and (max-width: 840px) 
    .button
        font-size: var(--font-xs)
        line-height: 22px
        padding: 17px 28px

    .button-discount
        width: 100%

    .header
        .main
            padding: 14px 18px

        .logo
            width: 36px
            height: 40px

        .middle
            display: flex
            justify-content: center
            align-items: center
            font-weight: 500
            font-size: var(--font-d)
            line-height: 15px
            color: var(--color-m)

        .carte
            opacity: 0
            position: fixed
            right: -100%

        .dynamic
            top: 76px
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-direction: column
            background: rgba(255, 255, 255, 0.85)
            box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.08)
            backdrop-filter: blur(9px)
            border-top-left-radius: 50px
            padding: 30px
            right: 0
            width: 50vw
            height: calc( 100vh - 70px )
            transition: all 0.6s
            opacity: 1

        .list
            flex-direction: column
            align-items: flex-start
            margin: 0
            width: 100%

            li
                padding-top: 22px
                margin: 0

                &:first-child
                    padding-top: 0

        .link
            margin: 0

        .info
            align-items: flex-start
            padding-top: 48px

        .phone
            font-size: var(--font-xs)
            line-height: 22px

        .time
            font-size: var(--font-xxs)
            line-height: 19px

        .burger
            display: flex
            justify-content: flex-end
            align-items: center

        .not-active
            display: none
        
        .cross
            display: none

        .active
            display: flex
            justify-content: flex-end
            align-items: center

    .type
        background-image: none
        background-position: right

    .display
        background-image: none
        background-position: right
        height: 767px

        .main
            padding: 40px 18px

        .title
            font-size: var(--font-m)
            line-height: 29px
            text-align: center

        .subtitle
            font-size: var(--font-xs)
            line-height: 22px
            padding: 3px 0 18px 0
            margin: 0 auto
            text-align: center

        .image
            display: flex
            justify-content: center
            align-items: center

        .imgType
            display: flex
            justify-content: center
            align-items: center
            max-width: 320px
            width: 100%
            margin: 0 auto

            .picture
                width: 100%
                height: 100%
                object-fit: contain

        .info
            flex-direction: column-reverse

        .block
            padding: 11px 0
            background-color: inherit

        .round
            width: 30px
            height: 30px
            margin-bottom: -6px

        .text
            font-size: var(--font-xs)
            line-height: 22px
            padding-left: 15px

        .learn
            padding: 25px 0 51px 0
            margin: 0 auto

    .price
        .color
            padding-bottom: 50px

        .main
            margin: 0 18px

        .title
            font-size: var(--font-s)
            line-height: 24px
            
        .card
            padding: 23px 9px 6px 9px
            background: var(--color-bg-m)
            margin-bottom: 6px
            height: 210px

        .specification
            font-size: var(--font-xxs)
            line-height: 19px

        .margin-1
            margin-bottom: 6px !important
        
        .margin-2
            margin-bottom: 6px !important

        .margin
            margin-bottom: 0

        .heading
            font-size: var(--font-xxs)
            line-height: 19px

        .text
            padding: 22px 0
            font-size: var(--font-xxs)
            line-height: 19px

        .technic
            width: 121px
            max-width: 100%
            height: 98px
            max-height: 100%

        .signature
            padding: 23px 12px 136px 12px

            &:hover
                padding: 23px 12px 136px 12px

        .new
            font-size: var(--font-z)
            line-height: 17px

        .table
            width: 100%
            border-radius: 20px 20px 0px 0px
            padding: 15px 27px

        .appellation
            padding: 12px 0 6px 0
            font-size: var(--font-xxs)
            line-height: 19px

        .worth
            padding: 12px 0 6px 0
            font-size: var(--font-xxs)
            line-height: 19px

    .discount
        padding: 12px 0 6px 0
        background: var(--color-bg-s)
        box-shadow: none

        .repair
            display: none

        .main
            padding: 0px 18px 25px 18px
            width: auto
            align-items: center
        
        .block
            width: auto

        .title
            font-size: var(--font-s)
            line-height: 24px
        
        .subtitle
            padding: 10px 0 20px 0
            font-size: var(--font-xxs)
            line-height: 19px
            width: 100%

        .image
            display: block
            width: 100%
            height: 100%

        .picture
            width: 100%
            height: 100%
            object-fit: contain

        .form
            width: auto
            padding: 28px 0 10px 0

        .text
            width: auto
            font-size: var(--font-d)
            line-height: 15px

@media screen and (max-width: 720px) 
    .price
        .else
            display: none

    .popup
        .dialog 
            width: 80vw
            padding: 20px

        .thanks 
            width: 278px
            height: 341px
            padding: 66px 7px

        .round
            padding-bottom: 16px

        .heading
            font-size: var(--font-m)
            line-height: 29px

        .text
            font-size: var(--font-xs)
            line-height: 22px
            padding-top: 10px

@media screen and (max-width: 614px) 
    .display
        height: 796px

    .price
        .rate
            font-size: var(--font-z)

@media screen and (max-width: 600px) 
    .header
        .dynamic
            width: 80vw

    .we
        .main
            padding: 120px 18px 6px 18px

        .title
            font-size: var(--font-s)
            line-height: 24px

        .block
            padding-top: 47px

        .card
            background: var(--color-bg-s)
            padding: 27px 17px 14px 17px
            height: auto
            margin: 16px 0

        .number
            width: 34px
            height: 34px
            font-size: var(--font-ms)
            line-height: 27px
            left: calc(50% - 17px)
            top: -17px

        .heading
            font-size: var(--font-xs)
            line-height: 22px

        .text
            font-size: var(--font-z)
            line-height: 17px
            padding-top: 6px

    .map
        background: var(--color-bg-s)
        height: 746px
        padding-top: 138px

        .block
            bottom: auto
            top: 0
            right: 0
            border-radius: 20px
            padding: 22px 19px
            width: 100vw
            max-width: 100%


        .box
            padding-bottom: 16px
            text-align: center

        .icons-3
            width: 210px
            margin: 0 auto

        .icons
            display: flex
            justify-content: center
            align-items: center
        
        .text
            font-size: var(--font-xxs)
            line-height: 19px
        
        .info
            font-size: var(--font-z)
            line-height: 17px
            padding-top: 8px

    .footer
        .main
            padding: 42px 2px

        .text
            font-size: var(--font-w)
            line-height: 13px

        .politic
            padding-top: 14px
            width: 284px
            line-height: 15px

        .link
            padding-top: 0
            font-size: var(--font-d)
            vertical-align: 0
            line-height: inherit

@media screen and (max-width: 438px) 
    .display
        height: 802px
    
    .popup
        .thanks 
            width: 277px !important
            height: 272px !important

        .dialog
            padding: 40px 20px 20px 20px
            width: 100vw
            height: 100vh

        .cross-dialog
            top: 12px
            right: 12px

        .svg
            stroke: var(--color-m)

        .heading
            font-size: var(--font-s)

        .title
            font-size: var(--font-xxxs)


        .subtitle
            font-size: var(--font-z)


@media screen and (max-width: 405px) 
    .display
        height: 808px

        .main
            padding: 40px 0

        .info
            padding: 0 35px

    .price
        .card
            height: 230px

@media screen and (max-width: 394px) 
    .display
        height: 814px

    .discount 
        .form
            padding: 28px 10px 10px 10px


@media screen and (max-width: 334px) 
    .display
        height: 820px